<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item href="#home" (click)="setTitle('Posisi di Home!')" routerLink="/">Home</button>
  <button mat-menu-item href="#user" (click)="setTitle('Posisi di User!')" routerLink="/user">User</button>
  <button mat-menu-item href="#post" (click)="setTitle('Posisi di Post!')" routerLink="/post">Post</button>
</mat-menu>


<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<h1>
  <font color="red"><router-outlet></router-outlet></font>
</h1>
